* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 9px;
    background-color: #fffefa;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #270036;
}

#divBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#divBody img {
    margin: 9px;
}

#divBody h1 {
    margin: 9px;
}

#divBody input {
    margin: 3px;
    padding: 5px;
}