* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    outline: none;
}

@font-face {
    font-family: SourceSansPro;
    src: url("/run/app/qinpel-app/assets/SourceSansPro.ttf");
}

@font-face {
    font-family: SourceSerifPro;
    src: url("/run/app/qinpel-app/assets/SourceSerifPro.ttf");
}

body {
    color: #270036;
    background-color: #f1f1f1;
    font-family: SourceSansPro;
    font-size: 16px;
}