* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    outline: none;
}

@font-face {
    font-family: Poppins;
    src: url("/run/app/qinpel-app/assets/poppins.ttf");
}

body {
    color: #270036;
    background-color: #fffaef;
    font-family: Poppins;
    font-size: 15px;
}