#divBody {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    padding: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divBody img {
    margin: 9px;
}

#divBody h1 {
    margin: 9px;
}

#divBody input {
    margin: 3px;
    padding: 5px;
}