* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    background-color: #fffefa;
    font-family: Arial, Helvetica, Tahoma, Geneva, Verdana, sans-serif;
    color: #270036;
}

#QinpelMainDivBody {
    padding: 12px;
}

.QinpelMainDivMenu {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    max-width: 130px;
    cursor: pointer;
}

.QinpelMainDivMenuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QinpelMainDivMenuContent img {
    width: 48px;
    height: 48px;
    margin: 3px;
}

.QinpelMainDivMenuContent span {
    margin: 3px;
    font-weight: bold;
}