* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    background-color: rgb(240, 240, 240);
}

#QinpelMainDivBody {
    padding: 12px;
}

.QinpelMainDivMenu {
    display: inline-block;
    background-color: #2e0036;
    border: 2px solid #1a001f;
    border-radius: 4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    max-width: 130px;
    cursor: pointer;
}

.QinpelMainDivMenuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QinpelMainDivMenuContent img {
    width: 64px;
    height: 64px;
    margin: 2px;
}

.QinpelMainDivMenuContent span {
    margin: 2px;
}